* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    background: #222222;
    color: whitesmoke;
    font-family: "Mulish", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    border-radius: 6px;
    border-style: none;
    width: 100px;
    height: 35px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 5px;
  }
  .container {
    width: 268px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .box {
    width: 268px;
    height: 268px;
    background: #ff9466;
    border-radius: 0px 0px 0px 0px;
  }
  .inputs-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
  }
  .header {
    text-align: center;
    color: #FFE8D9;
    margin: 66px 0;
  }
  .header h1 {
    font-size: 70px;
    line-height: 70px;
    padding: 65px;
  }

  .CSSProperties {
    background: #626262;
    border-radius: 6px;
    padding: 16px;
  }

  #copyButton {
    float: right;
  }
